<div class="bg-body-secondary text-center py-2 rounded-2 mb-3" style="background-color: #F0F0F0;">
  <h1 class="display-6 fw-bold" style="color: #000000; letter-spacing: 1.5px;">To-Do
    App</h1>
</div>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">


      <ul class="list-group" *ngIf="!showTaskDetailForm">
        <li class="list-group-item d-flex justify-content-between-align-items-start mb-2 border px-4 py-3 rounded-3"
          *ngFor="let task of service.list">
          <div class="flex-grow-1 mouse-hover" (click)="populateForm(task)">
            <div class="fw-bold">{{ task.taskDescription }}</div>
          </div>
          <span>
            <i class="fa-solid fa-trash-can fa-lg mouse-hover" (click)="onDelete(task.taskDetailId)"></i>
          </span>
        </li>
      </ul>



      <div class="d-grid">
        <div class="d-flex">
          <button class="btn btn-primary flex-grow-1" *ngIf="!showTaskDetailForm" (click)="toggleForm(true)">
            Add
          </button>

          <i class="fa-solid fa-arrow-left flex-grow-1 mouse-hover " *ngIf="showTaskDetailForm"
            (click)="toggleForm(false)"></i>

          <br>

        </div>
        <br>
        <app-task-detail-form *ngIf="showTaskDetailForm" (formSubmitted)="toggleForm(true)"></app-task-detail-form>

      </div>
    </div>